{% extends "account2/base.html" %}
{% block title %} Login {% endblock %}

{% block content %}
                  
	<form class="row g-3 needs-validation" method= "post" novalidate>
	{% csrf_token %}		
		<div class="col-12">
			<label for="yourEmail" class="form-label">Your Email</label>
			{{ form.fields.email }}
			<div class="invalid-feedback">
				Please enter a valid Email adddress!
			</div>
		</div>
                    
		<div class="col-12">
			<label for="yourPassword" class="form-label">Password</label>
			{{ form.password1 }}
			<div class="invalid-feedback">
			Please enter your password!
			</div>
		</div>
		
		<div class="col-12">
			<div class="form-check">
				<input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
				<label class="form-check-label" for="rememberMe">Remember me</label>
			</div>
		</div>
		
		<div class="col-12">
			<button class="btn btn-primary w-100" type="submit">Login</button>
		</div>
		
		<div class="col-12">
			<p class="small mb-0">Don't have account? <a href="">Create an account</a></p>
		</div>
		
	</form>

{% endblock %}