{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% block title %} Sign In {% endblock %}


{% block content %}
	<div class="col-12 mt-3">
		<a href="{% url 'social:begin' 'facebook' %}">
			<button style="color: #fff;" class="btn btn-primary w-100">
				Continue With Facebook
			</button>
		</a>
	</div>
	<div class="col-12 mt-3">
		<a href="{% url 'social:begin' 'github' %}">
			<button style="color: #fff;" class="btn btn-secondary w-100">
				Continue With GitHub
			</button>
		</a>
	</div>
	<br>
	
	{% if messages %}
		{% for message in messages %}
			<div class= "alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
	<legend>Login</legend>
	<div>
		<form action="" method="post">
		{% csrf_token %}
			{{ form|crispy }}
			<a href= "{% url 'password_reset' %}">forgot password?</a>
			<br><br>
			<button  type="submit" class= "btn btn-primary form-control">Login</button>
			<span>Not signed up yet?</span>
			<a href="{% url 'account:signup' %}">Signup</a>
		</form>
	</div>

{% endblock %}