{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% block title %} Sign Up {% endblock %}


{% block content %}
	<div class="col-12 mt-3">
		<a href="{% url 'social:begin' 'facebook' %}">
			<button style="color: #fff;" class="btn btn-primary w-100">
				Continue With Facebook
			</button>
		</a>
	</div>
	<div class="col-12 mt-3">
		<a href="{% url 'social:begin' 'github' %}">
			<button style="color: #fff;" class="btn btn-secondary w-100">
				Continue With GitHub
			</button>
		</a>
	</div>
	<br>
	
	<legend>Signup</legend>
	{% if messages %}
		{% for message in messages %}
			<div class= "alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
	<div>
		<form action="" method="post">
		{% csrf_token %}
			{{ form|crispy }}
			
			{% if page == "from_referral" %}
			<label for= "ref_code">Referral Code*</label>
			<input class= "form-control" type= "text" placeholder= "Referral Code" id= "ref_code" name= "ref_code" required value= "{{ referral_code }}">
			{% endif %}
			
			<br>
			<button type="submit" class= "btn btn-secondary form-control">Signup</button>
		</form>
		<span>Already have an account?</span>
		<a href= "{% url 'account:login' %}">Sign in</a>
	</div>
	
{% endblock %}